@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "byekan";
    src: url("Yekan.ttf");
    font-weight: normal;
    font-style: normal;
}
.Byekan{
    font-family: "Byekan";

}
.discount{
    background: url("./../../public/assets/images/food-bg.png") no-repeat #193D3D center    ;

}
